{# vim: set ft=htmldjango: Multiselect #}
{% macro multiselect(name, id=none) %}
    {% set field_id = id or name %}
    <div class="multiselect">
        <div class="multiselect__trigger" role="combobox" aria-expanded="false" aria-haspopup="listbox" tabindex="0"
             _="on click toggle @aria-expanded='true'">
            <span class="multiselect__placeholder">Select options...</span>
        </div>
        <div class="multiselect__dropdown" role="listbox" aria-multiselectable="true">
            {% if caller is defined %}{{ caller() }}{% endif %}
        </div>
    </div>
{% endmacro %}
