<div class="widget-body">
    {% if empty %}
    <div class="widget-empty">
        <span class="material-symbols-outlined widget-empty-icon"
              style="color:{{ metric.color }};">{{ metric.icon }}</span>
        <span class="widget-empty-text">{{ empty_text }}</span>
    </div>
    {% elif viz %}
    {% if viz.type == "candlestick" %}
        {% include "components/dashboard/viz/candlestick.html" %}
    {% elif viz.type == "pills" %}
        {% include "components/dashboard/viz/pills.html" %}
    {% elif viz.type == "sparkline" %}
        {% include "components/dashboard/viz/sparkline.html" %}
    {% elif viz.type == "bar" %}
        {% include "components/dashboard/viz/bar.html" %}
    {% elif viz.type == "progress" %}
        {% include "components/dashboard/viz/progress.html" %}
    {% else %}
        {% include "components/dashboard/viz/number.html" %}
    {% endif %}
    {% endif %}
</div>
