{% call widget_body() %}
    {% if empty %}
    {{ widget_empty(icon=metric.icon if metric else "info", color=metric.color if metric else "var(--color-slate-400)", text=empty_text) }}
    {% elif viz %}
        {% if viz.get('type') == "candlestick" %}
            {{ viz_candlestick(primary_value=viz.get('primary_value'), primary_unit=viz.get('primary_unit'), primary_label=viz.get('primary_label'), delta=viz.get('delta'), stats_line=viz.get('stats_line'), color=viz.get('color'), chart=viz.get('chart')) }}
        {% elif viz.get('type') == "pills" %}
            {{ viz_pills(primary_value=viz.get('primary_value'), primary_unit=viz.get('primary_unit'), delta=viz.get('delta'), stats_line=viz.get('stats_line'), color=viz.get('color'), icon=metric.icon if metric else none, widget_id=widget.id if widget else none, chart=viz.get('chart')) }}
        {% elif viz.get('type') == "sparkline" %}
            {{ viz_sparkline(primary_value=viz.get('primary_value'), primary_unit=viz.get('primary_unit'), delta=viz.get('delta'), sub=viz.get('sub'), percent=viz.get('percent'), color=viz.get('color'), icon=metric.icon if metric else none, sparkline_points=viz.get('sparkline_points')) }}
        {% elif viz.get('type') == "bar" %}
            {{ viz_bar(primary_value=viz.get('primary_value'), primary_unit=viz.get('primary_unit'), delta=viz.get('delta'), sub=viz.get('sub'), color=viz.get('color'), icon=metric.icon if metric else none, segments=viz.get('segments', [])) }}
        {% elif viz.get('type') == "progress" %}
            {{ viz_progress(primary_value=viz.get('primary_value'), primary_unit=viz.get('primary_unit'), delta=viz.get('delta'), percent=viz.get('percent', 0), target_label=viz.get('target_label'), color=viz.get('color'), has_goal=viz.get('has_goal', true), is_small=widget.size.value == "small" if widget and widget.size and widget.size.value else false) }}
        {% else %}
            {{ viz_number(primary_value=viz.get('primary_value'), primary_unit=viz.get('primary_unit'), delta=viz.get('delta'), sub=viz.get('sub'), icon=metric.icon if metric else none, color=viz.get('color')) }}
        {% endif %}
    {% endif %}
{% endcall %}
