<div class="card">
    <div class="card__header">
        <h3 class="card__header-title">{{ _("Developer Plugins") }}</h3>
        <div class="card__header-action">
            <button class="btn" data-variant="primary" data-size="sm"
                    hx-get="/admin/plugins/upload-modal"
                    hx-target="#modal-container"
                    hx-swap="innerHTML">
                {{ _("Install Plugin") }}
            </button>
        </div>
    </div>
    <div class="card__body" id="admin-plugins-container">
        {% include "components/admin/plugin_table.html" %}
    </div>
</div>

<div id="modal-container"></div>
