<div class="viz-number">
    {% if viz.primary_label %}<span class="viz-primary-label">{{ viz.primary_label }}</span>{% endif %}
    <div class="viz-number-row">
        <div class="widget-icon-wrap" style="background:{{ viz.color }}20;">
            <span class="material-symbols-outlined" style="color:{{ viz.color }};">{{ metric.icon }}</span>
        </div>
        <div class="viz-main">
            <span class="viz-primary-value">{{ viz.primary_value }}{% if viz.primary_unit %} <span class="viz-unit">{{ viz.primary_unit }}</span>{% endif %}</span>
            {% if viz.delta %}<span class="widget-delta-row">{{ viz.delta | safe }}</span>{% endif %}
            {% if viz.sub %}<span class="viz-sub">{{ viz.sub | safe }}</span>{% endif %}
        </div>
    </div>
</div>
