{# vim: set ft=htmldjango: Copy to Clipboard #}
{% macro copy_to_clipboard(value, label=none) %}
    <div class="copy-clipboard">
        <code class="copy-clipboard__target">{{ value }}</code>
        <button class="copy-clipboard__btn" type="button" aria-label="Copy {{ label or 'value' }}"
            _="on click fetch('/clipboard', {method:'POST', body: new FormData(document.querySelector('#copy-form-{{ loop.index }}'))}) then add @data-copied then wait 2s then remove @data-copied">
            <span class="material-symbols-outlined" style="font-size:16px">content_copy</span>
        </button>
    </div>
{% endmacro %}
